* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    background: rgb(252,240,115);
    background: linear-gradient(0deg, rgba(252,240,115,1) 24%, rgba(255,223,62,1) 65%, rgba(238,192,62,1) 100%);}
  
  .head {
    /*background: rgba(255,240,115,0.3);*/
    background: #f7d118;
    max-width: 450px;
    border-radius: 5px;
    box-shadow: 8px 8px 20px #333;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    font-family: "Unbounded" ,cursive, sans-serif;
    color: #333;
  }
  
  h2{
    font-weight: bold;
    color: #704213;
  }
  
  .score {
    margin-top: 10px;
    font-size: 20px;
    color: #704213;
  }
  
  .container {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    margin: auto;
    padding: 20px;
  }
  
  .cell div {
    height: 130px;
    border-radius: 4px;
  }
  
  .cell {
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 10px #333;
  }

  .cell:hover{
    transform: scale(1.05);
  }
  
  .front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #575757;
    background-color: #f2f2f2;
    transform: rotateY(90deg);
    object-fit: cover;
  }
  
  .back {
    background-color: #333;
    background-image: url('/Assets/question.png');
    background-repeat: no-repeat;
    background-size: cover;   
  }

  footer{
    font-size: small;
    color: #704213;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    position: relative;
  }

  .btn{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #replay-btn{
    cursor: pointer;
    padding: 10px;
    background: #f7d118;
    color: #333;
    border-radius: 10px;
    border: none;
    font-size: medium;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
  }
  
  #replay-btn:hover{
    color: #9f6709;
  }
  
  #replay-btn:active{
    transform:scale(1.1)
  }

  img {
    height: 100px;
    width: 100px;
  }
  
  .flip {
    transform: rotateY(0deg);
  }
  .match {
    transform: rotateY(0deg);
  }
  
  .show {
    transform: rotateY(0deg);
  }
  
  @media screen and (min-width: 770px) {
    .head {
      max-width: 760px;
    }
  
    .container {
      grid-template-columns: repeat(4, auto);
    }
  
    .cell div {
      height: 170px;
    }
  }

  /* Loading Screen CSS*/ 
  #loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(252,240,115);
    background: linear-gradient(0deg, rgba(252,240,115,1) 24%, rgba(255,223,62,1) 65%, rgba(238,192,62,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  p{
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
  }
  
  #loading-spinner {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #loading-screen {
    display: none;
  }
  